<div class="dropdown">
    <button 
      class="btn btn-dark" 
      (click)="toggleDropdown()"
      (keydown)="onKeyDown($event)">
      {{selectedOption}} <i class="bi" [class.bi-caret-up-fill]="isDropdownOpen" [class.bi-caret-down-fill]="!isDropdownOpen"></i>
    </button>
    <div class="dropdown-content" *ngIf="isDropdownOpen">
      <a (click)="selectOption('EUW')">EUW</a>
      <a (click)="selectOption('NA')">NA</a>
      <a (click)="selectOption('EUNE')">EUNE</a>
    </div>
</div>
  
  